@font-face {
    font-family:Roboto Light;
    src:url(Roboto-Light.ttf);

}

@font-face {
	font-family: Roboto Thin;
	src: url(Roboto-Thin.ttf);
}

@font-face {
	font-family: Roboto Medium;
	src: url(Roboto-Medium.ttf);
}

#profilepic
{
	height: 11.89437vw;
	width: 10vw;
	position: absolute;

}

#imageplacer
{
		padding-top: 2vh;
		padding-left: 2vw;
		padding-bottom: 13vw;
		width: 58vw;
		background-color: white;
		position: absolute;
		margin-left: 0vw;
		margin-top: 0vh;
		margin-bottom: 0vh;  
		
}

#textbody
{
		width: 16vw;
		
		padding-left: 1vw;
		padding-right: 1vw;
		padding-top: 2vh;
		padding-bottom: 2vh;
		
		position: absolute;
		margin-top: 15vw;
		margin-right: 4vw;
		font-family: "Roboto Light";
		font-size: 1vw;
		background-color: white;
}

#textplacer
{
	width: 36vw;
	
	padding-left: 2vw;
	padding-right: 2vw;
	padding-top: 2vh;
	padding-bottom: 2vh;
	position: absolute;
	margin-left: 20vw;
	margin-top: 15vw;
	background-color: white;
	
	
	font-family: "Roboto Light";
	font-size: 1vw;
}

#SMButtons
{
	float: right;
	width: 26vw;
	height: 2vw;
	position: absolute;
	margin-left: 11vw;
	margin-top: 9vw;
	padding-top: 1vw;
	padding-bottom: 1vw;
	padding-left: 1vw;
	padding-right: 1vw;
	
}

.smButton
{
	float: left;
	height: 2vw;
	width: 8vw;
	margin-right: 0.5vw;
	background-color: #3b5998;
}

#FBButton
{
	background-color: #3b5998;
}

#TButton
{
	background-color: #55acee;
}

#LiButton
{
	background-color: #0077b5;
}

#header
{
	position: absolute;
	margin-left: 11.5vw;
	margin-top: 1vh;
	padding-left: 1vw;
	font-family: "Roboto Light";
}