body
{
	margin: 0;
	height: 100%;
	background-color: #ecf0f1;
}

@font-face {
    font-family:Roboto Light;
    src:url(Roboto-Light.ttf);
}

@font-face {
	font-family: Roboto Thin;
	src: url(Roboto-Thin.ttf);
}

@font-face {
	font-family: Roboto Medium;
	src: url(Roboto-Medium.ttf);
}

header
{
	width: 100%;
	height: 95vw;
	position: fixed;
	z-index: 1;
    background: url('oldtimey.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav
{
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	position: absolute;
	margin-top: 23vw;
	margin-left: 15vw;
}

.butn
{
	width: 16vw;
	height: 3vw;
	line-height: 3vw;
	margin-right: 2vw;
	float: right;
	text-align: center;
	background-color: #ecf0f1;
	font-family: "Roboto Light";
	font-size: 2vw;
	cursor: pointer;
	text-decoration: none;
	color: #2c3e50;
}

main
{
	position: absolute;
	margin-top: 6vw;
	margin-left: 20vw;
	visibility: hidden;
	opacity: 0;
}